<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Ira Beauty"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignupLoginRealtime"
        tools:targetApi="31">
        <activity
            android:name=".Activity.TambahDataActivity"
            android:parentActivityName=".Activity.UasActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.UasActivity"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/Theme.Design.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Activity.UbahActivity"
            android:parentActivityName=".Activity.UasActivity"
            android:exported="false" />
        <activity
            android:name=".RecyclerActivity"
            android:exported="false" />
        <activity
            android:name=".StockActivity"
            android:exported="false" />
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".OrderEditActivity"
            android:exported="false" />
        <activity
            android:name=".SkincareActivity"
            android:exported="false" />
        <activity
            android:name=".SerumwajahActivity"
            android:exported="false" />
        <activity
            android:name=".ShoapActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>